body{
    background-color: rgb(120, 168, 207); /*Este trecho do código altera o fundo da página , comentário realizado no github - repositório remoto*/
}
h1{
    text-align: center
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
