/*Testando Pull Request */
body{
    background-color: rgb(120, 168, 207); /*Mudança de cor do fundo */
}
h1{
    text-align: center ; /*Centraliza texto*/ 
}
img {
    display: block; /*Centraliza imagem*/
    margin-left: auto;
    margin-right: auto;
}
